@media all and (max-device-width: 576px) {


    nav .logo {
        display: inline-block;
        margin-left: -8px;
        float: left;
    }

    nav .logo img {
        display: inline-block;
        margin-left: 4px;
        margin-right: 652px;
        height: 98px;
    }
    .menu-right {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
}