*, ::after, ::before {
    box-sizing: border-box;
}

/*Header*/
.hébergements {
    border-top: 2px solid #0065fc;
    color:#0065fc;
}
.activités{
    color: black;
    border-top: 2px solid transparent;
}
.inscrire{
    font-weight: bold;
    color:#0065fc;
    border-top: 2px solid transparent;
}
/*Base*/
body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
    background-color: white;
}

.wrapper {
    width: 1500px;
    margin: auto;
    padding: 15px;
}

header{
    flex: 0 0 auto;
    display: block;
}

/*Navbar top*/
nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 0;
    line-height: 24px;
    margin-bottom: 0;
}
.nav-content{
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav .logo {
    flex: 0 0 auto;
    max-width: 75%;
    display: inline-block;
}
nav .logo img{
    width: auto;
    object-fit: contain;
    display: block;
    height: 45px;
}
.menu-right {
    display: flex;
    flex-basis: auto;
    align-items: center;
    flex-grow: 1;
}
.menu-right ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    margin-left: auto !important;
    text-align: right !important;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
}

.menu-right ul li {
    list-style: none;
    display: list-item;
    line-height: 61px;
}
.menu-right ul li a{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.menu-right ul li a{
    display: block;
}

#head-title h1 {
    margin-bottom: 0;
    padding-top: 10px;

}
#head-title h2 {
    margin-top: 0;
    padding-bottom: 10px;
    font-weight: normal;
}

/*Search box*/
.search-box form .inner-form {
    display: flex;
    max-width: 420px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.search-box form .inner-form .input-field {
    height: 45px;
}

.search-box form .inner-form .input-field .icon-wrapper {
    padding: 5px;
}

.search-box form .inner-form .input-field input {
    height: 100%;
    background: white;
    border: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    display: block;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    color: #000;
}

.search-box form .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.search-box form .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.search-box form .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.search-box form .inner-form .input-field input:hover, .search-box form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.search-box form .inner-form .input-field.first-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-top: #f2f2f2f2;
    border-bottom: #f2f2f2f2;
}

.search-box form .inner-form .input-field.first-wrap input {
    flex-grow: 1;
}

.search-box form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222;
}
.search-box form .inner-form .input-field.first-wrap.icon-group {
    max-width: 50px;
}

.search-box form .inner-form .input-field.first-wrap.icon-group .icon-wrapper{
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    position: relative;
    z-index: 0;
    background: #f2f2f2;
    transition: all .2s ease-out, color .2s ease-out;
    text-align: center;
}
.search-box form .inner-form .input-field.first-wrap.icon-group .icon-wrapper img {
    width: 24px;
    height: 24px;
    margin-top:5px;
}
.search-box form .inner-form .input-field.second-wrap {
    min-width: 135px;
}

.search-box form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #0065fc;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.search-box form .inner-form .input-field.second-wrap .btn-search:hover {
    background: #009451;
}

.search-box form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.search-box form .info {
    font-size: 15px;
    color: #ccc;
    padding-left: 26px;
}
#search{
    font-weight: bold;
}
.fa-map-marker-alt{
    font-weight: 900;
    color: black;
    align-items: center;
    padding-top: 7px;
}
.filter-button {
    color: #484848;
    display: inline-block;
    height: 45px;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    /*background: #eaeef1;*/
    text-decoration: none;
    margin: 7px;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
}
strong{
    font-size: 19px;
}

.filter-button .iconback{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #0065FC;
    background-color: #deebff;
    border-radius: 25px;
}
.filter-button .iconback .fas{
    transition: .3s;
}

.filter-button .btn-round{
    display: inline-block;
    width: 180px;
    text-align: center;
}
.btn-round{
    font-weight: bold;
}
.filter-button:hover .iconback .fas{
    transform: rotateX(360deg);
}

.info-button
{
    color: #484848;
    display: inline-block;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}
.info-button .iconback{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 1px;
    color: #0065FC;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
}
.info-button .iconback .fas{
    transition: .3s;
}
.info-button .btn-round{
    display: inline-block;
    width: 15px;
    text-align: center;
}

.info-button:hover .iconback .fas{
    transform: rotateX(360deg);
}
section{
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}
.active{
    margin-bottom: 0;
    position: absolute;
    left: 197px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}
#container{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 980px;
    height: 650px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 20px 20px 20px 20px;
}
.card_1,.card_2{
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
    height: 100px;
    width: 33.33%;
}

figure{
    margin: 7px;
    background-color: white;
    border-radius: 25px;
    height: 225px;
    margin-bottom: 10px;
}
.card_1 img, .card_2 img{
    border-radius: 25px 25px 0 0;
    width: 290px;
    height: 130px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 6px;
}
img{
    border-radius: 25px 0 0 25px;
    width: 145px;
    height: 150px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 6px;
}
figcaption{
    height: 79px;
    padding-left: 10px;
    margin: 7px;
    background-color: white;
    border-radius: 25px;
}
p{
    margin: 0;
}
.stars{
    color: #0065FC;
}
.grey{
    color: #f2f2f2;
}
.plus{
    margin-bottom: 0;
    position: relative;
    left: -404px;
    top: 75px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}
.card_3 figure{
    margin: 7px;
    background-color: white;
    display: flex;
    border-radius: 25px;
    height: 155px;
    margin-bottom: 10px;
}
#aside{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 417px;
    right: 76px;
    width: 520px;
    height: 650px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 20px 20px 20px 20px;
}
.aside{
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    left: -45px;
    top: 24px;
}
.chart{
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    top: 23px;
    right: -36px;
}
.card_3{
    border-radius: 25px;
    margin-top: -33px;
    width: 460px;
    height: 144px;

}
.card_3 figcaption{
    height: 130px;
    width: 180px;
    padding-left: 0px;
    margin: 25px;
    background-color: white;
    border-radius: 25px;
}
#activités {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: 1580px;
}

.Marseille {
    margin-bottom: 0;
    position: absolute;
    left: 170px;
    top: 1212px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.card_4 {
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 450px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card_4 figure {
    margin: -10px;
    background-color: white;
    border-radius: 25px;
    height: 390px;
    margin-bottom: 10px;
}

.card_4 img {
    border-radius: 25px 25px 0 0;
    width: 330px;
    height: 390px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card_4 figcaption {
    height: 42px;
    padding-left: 10px;
    margin: 7px;
    background-color: white;
    border-radius: 25px;
}

.photo_2 {
    border-radius: 25px;
    margin-top: 50px;
    height: 250px;
    text-align: center;
}

.card_Fort {
    border-radius: 25px;
    height: 226px;
    margin-left: -21px;
    margin-bottom: 72px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card_Fort figure {
    margin-top: 0;
    margin-left: -15px;
    background-color: white;
    border-radius: 25px;
    height: 225px;
    width: 345px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card_Fort img {
    border-radius: 25px 25px 0 0;
    width: 348px;
    height: 182px;
    padding-top: 0;
    margin-left: -3px;
    padding-left: 3px;
    padding-right: 0;
}

.card_Fort figcaption {
    height: 30px;
    width: 185px;
    margin-top: 4px;
    background-color: white;
    border-radius: 25px;
}

.card_îles {
    border-radius: 25px;
    height: 155px;
    margin-top: 34px;
    margin-left: -24px;
    width: 332px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card_îles figure {
    margin-top: 0;
    margin-left: -13px;
    background-color: white;
    border-radius: 25px;
    height: 155px;
    width: 345px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card_îles img {
    border-radius: 25px 25px 0 0;
    width: 345px;
    height: 109px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card_îles figcaption {
    height: 30px;
    width: 185px;
    margin-top: 4px;
    margin-left: 2px;
    padding-left: 0;
    background-color: white;
    border-radius: 25px;
}
