@media only screen and (max-width: 768px) and (orientation: landscape) {
    .card-1 {
        flex: 0 0 100%;
    }

    .card-3 {
        flex: 1 0 50%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .card {
        flex: 0 0 50%;
        width: auto;
    }

    .card-1 {
        flex: 0 0 50%;
    }

    .col-1,
    .col-2 {
        margin-bottom: 30px;
        flex: 0 0 50% !important;
        width: auto;
        max-width: 50%;
    }
}
